@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome</h1>
    <p>We would like to present you a list of cars offered for rental services from our company.</p>
    <br />
    <br />
    <a asp-page="CarList/ViewCars" class="btn btn-success btn-sm">Get started</a>
</div>
