@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4">Welcome</h1>
    <p>We would like to present you a list of cars offered for rental services from our company.</p>
    <br />

    <a asp-page="CarList/ViewCars" class="btn btn-success btn-primary btn-lg">Get started</a>
    <br />    <br />    <br /> 
    <img id="background" src="~/LRM_EXPORT_250629096590016_20190411_201434465.jpeg" style="width:1280px;height:720px;" />
</div>
