@page
@model CarRental.Pages.Requests.CreateRequestModel
@{
    ViewData["Title"] = "CreateRequest";
}

<br />
<h2 class="text-info">Reserve car</h2>
<br />

<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Car.registrationNumber" />
        <input type="hidden" asp-for="Car.carBrand" />
        <input type="hidden" asp-for="Car.carModel" />
        <input type="hidden" asp-for="Car.carColor" />
        <input type="hidden" asp-for="Car.carDescription" />
        <input type="hidden" asp-for="Car.fuelType" />
        <input type="hidden" asp-for="Car.gearboxType" />
        <input type="hidden" asp-for="Car.numberOfDoors" />
        <input type="hidden" asp-for="Car.engineCapacity" />
        <input type="hidden" asp-for="Car.yearOfProduction" />
        <div class="container" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.socialSecurityNumber"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.socialSecurityNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.firstName"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.firstName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.lastName"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.lastName" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.dateOfBirth"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.dateOfBirth" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.address"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.address" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.phoneNumber"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.phoneNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.nationality"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.nationality" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="Customer.driverLicenseId"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Customer.driverLicenseId" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">

                        <label asp-for="Customer.requestedCar"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Car.registrationNumber" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2 offset-sm-2">
                        <input type="submit" value="Create" class="btn btn-primary form-control" />
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="../CarList/ViewCars" class="btn btn-success form-control">Back to list</a>
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>