@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please select a time period in which you want to request a car.</p>
    
    <form>
        <input type="date" name="StartDate" id="startDate"/>
        <input type="submit" />
        
</form>
        
    <a asp-page="CarList/Car" class="btn btn-primary" >Find cars</a>
</div>
